:root {
	--sales: rgb(150, 152, 238);
	--sales1:rgb(184, 186, 255);
    --rowstitles: hsla(150, 84%, 83%, 0.5);
	--border: hsla(0,0%,20%,.8);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
    --font: hsl(0, 0%, 0%);
}

body {
	font-family: "Bebas Neue";
    font-size: 15px;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--font);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--sales);
	color: var(--font);
}

th, td {
	padding: 7px 15px;
	border: 2px solid var(--border);
}

th {
	background-color: var(--rowstitles);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--sales1);
}

th#color {
	background-color: var(--sales);
}