@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;900&display=swap');


.top {
    color: #cbe7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 87, 82);
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a:hover {
    background-color: #f9c91a;
}

li.open::before {
    content: "⚜️ ";
}

section a:hover {
    background-color: #f9c91a;
}

h1 {
    font-family: Bebas Neue;
    font-size: 35px;
  }

ul {
    text-align: center;
}

#activities {
    text-align: left;
}

main {
    display: grid;
    font-family: Bebas Neue;
    font-size: 25px;
    background-color: white;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.card1 {
    margin-left: 10px;
    grid-row: 1; /* Mantén la misma fila (row 1) */
    grid-column: 1; /* Cambia la columna a la primera columna (izquierda) */
}

.card {
    margin-top: -8px;
    margin-bottom: 0px;
    grid-row: 1; /* Mantén la misma fila (row 1) */
    grid-column: 2; /* Cambia la columna a la primera columna (izquierda) */
}


nav {
    font-family: Bebas Neue;
    font-size: 25px;
    grid-column: 1/2;
    background-color: #dcdeea;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 10px;
}

.learn {
    background-color: rgb(30, 87, 82);
    margin-top: -10px;
}

.learn1 {
    background-color: rgb(30, 87, 82);
    margin-top: -10px;
}

h3 {
    color: #cbe7e2;
    background-color: #dcdeea;
    text-align: center;
    margin-bottom: -30px;
}

#wdd {
    font-family: Bebas Neue;
    font-size: 30px;
    color: #cbe7e2;
    background-color: rgb(30, 87, 82);
    text-align:  center;
    margin: 10px;
}

.card, .card1 {
    background-color: #dcdeea;
}

#profile {
    width: 200px;
    height: 180px;
    z-index: 0;
    margin-right: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#flag {
    width: 10em;
}

footer {
    font-family: Bebas Neue;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    background-color: #dcdeea;
    margin: 10px;
}

p#name2::before {
    content: "✌🏻 ";
}

p#name2::after {
    content: " ✌🏻";
}

iframe {
    width: 1330px; 
    height: 450px;
    margin: 10px; 
    border: solid 2px black;
}

