/* CSS for making the background red when the page gets smaller */
@media screen and (max-width: 240px) {
    header 
      background-color: rgb(32, 197, 32);
    }

    ul {
      background-color: rgb(32, 197, 32);
    }

    .top {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
        list-style: none;
      }

    header {
        background-color: rgb(32, 197, 32);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        font-size: 2rem;
        display: flex;
        justify-content: left;
    }
    
    nav {
        background-color: #36454f;
        margin: 0 auto;
        max-width: 800px;
    }
    nav ul {
        list-style-type: none;
    }
    nav a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    nav a:hover {
        border: 5px solid red;
    }
    
    .active {
        color: yellow;
    }

    main {
        display: grid;
        font-family: Bebas Neue;
        font-size: 25px;
        background-color: white;
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .card1 {
        margin-left: 10px;
        grid-row: 1; /* Mantén la misma fila (row 1) */
        grid-column: 1; /* Cambia la columna a la primera columna (izquierda) */
    }
    
    .card {
        margin-top: -8px;
        margin-bottom: 0px;
        grid-row: 2; /* Mantén la misma fila (row 1) */
        grid-column: 1; /* Cambia la columna a la primera columna (izquierda) */
    }    
}    
