/* Reset and Normalize CSS */
/* v2.0.1 | 2021-09-19 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt,
figure,
blockquote,
pre {
  margin-top: 20px;
  padding: 0;
}

/* Remove list styles (bullet points and numbers) */
ul,
ol {
  list-style: none;
}

/* Remove hyperlinks text decoration */
a {
  text-decoration: none;
}

/* Remove and reset default styles */
body {
  margin: 0px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Ensure images and other embedded content are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */
html {
  font-size: 18px;
}

/* Add your custom styles below this line */
